@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: #131415;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.banner{
    max-width: 1200px;
}

.contenedor-filtros{
    display: flex;
    gap: 100px;
}

.filtro{
    padding: 20px 40px;
    border-radius: 5px;
    background-color: rgba(0, 30, 199, 0.69);
    border: 1px solid rgba(0, 30, 199, 0.69);
    color: aliceblue;
    cursor: pointer;
    transition: all ease 0.5s;
}

.filtro:hover{
    filter: brightness(1.2);
    scale: 1.02;
}

.activo{
    background-color: blue;
    box-shadow: 0px 0px 8px 0px rgb(0, 157, 255);
    -webkit-box-shadow: 0px 0px 8px 0px rgb(0, 157, 255);
    -moz-box-shadow: 0px 0px 8px 0px rgb(0, 157, 255);
}

/* Contenido del manejador de paginado */
.contenedor-paginado{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.anterior{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 30, 199, 0.69);
    border: 1px solid rgba(0, 30, 199, 0.69);
    color: aliceblue;
    cursor: pointer;
    transition: all ease 0.5s;
}

.anterior:hover{
    filter: brightness(1.2);
    scale: 1.02;
}

.siguiente{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 30, 199, 0.69);
    border: 1px solid rgba(0, 30, 199, 0.69);
    color: aliceblue;
    cursor: pointer;
    transition: all ease 0.5s;
}

.siguiente:hover{
    filter: brightness(1.2);
    scale: 1.02;
}

.bloquear {
    background-color: rgba(128, 128, 128, 0.473);
    cursor: not-allowed;
    box-shadow: unset;
    border: 1px solid rgba(128, 128, 128, 0.473);
}

/* Fin del estilado en el paginado */

/* Comienzo del estilado en el renderizado de las peliculas */
.contenedor-peliculas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 45px;
    /* background-color: red; */
}

.contenedor-pelicula{
    display: flex;
    flex-direction: column;
    width: 30.5%;
    position: relative;
}

.imagen-pelicula{
    width: 100%;
    height: 100%;
}

.popularidad-pelicula{
    display: flex;
    position: absolute;
    left: 10px;
    /* background-color: rgba(255, 0, 43, 0.848); */
    background-color: rgba(5, 5, 203, 0.8);
    padding: 3px 20px;
    border-radius: 5px;
}

.contenido-pelicula{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    position: absolute;
    bottom: 35px;
    left: 15px;
}

.contenido-pelicula h2{
    border-left: 3px solid rgba(5, 5, 203, 0.8);
    padding: 0px 0px 0px 5px;
}

.contenido-pelicula p{
    padding: 0px 0px 0px 5px;
}

.blur{
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0)
    );
}

/* Fin del estilado en el renderizado de las peliculas */


.esconder {
    display: none;
}