@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: #131415;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.banner{
    max-width: 1200px;
}

.contenedor-filtros{
    display: flex;
    gap: 100px;
}

.filtro{
    padding: 20px 40px;
    border-radius: 5px;
    background-color: rgba(0, 30, 199, 0.69);
    border: 1px solid #131415;
    color: aliceblue;
    cursor: pointer;
    transition: all ease 0.5s;
}

.filtro:hover{
    filter: brightness(1.2);
    scale: 1.02;
}

.esconder {
    display: none;
}